@model IEnumerable<TP2.Entidades.EF.T_GUQ_PACIENTE_ESTADO_UCI>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.idPacienteEstado)
        </th>
        <th>
            Paciente
        </th>
        <th>
            DNI
        </th>
        <th>
            Historia
        </th>
        <th>
            Estado
        </th>
        <th>
            Seleccionar opcion
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.idPacienteEstado)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_GDA_PACIENTE.nomPaciente)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_GDA_PACIENTE.numDNI)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.T_GDA_PACIENTE.T_GDA_HISTORIA_CLINICA.nroHistoriaClinica)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.estado)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
