@model IEnumerable<TP2.Entidades.EF.T_GDA_INGRESOUCI>

@{
    ViewBag.Title = "Index";
}


<div>
    <h2 style="text-align:center" class="text-success">Aprobacion / Desaprobacion de pacientes UCI</h2>
</div>

<br />
<br />

<table class="table">
    <tr>
        <th>
           Paciente
        </th>
        <th>
            DNI
        </th>
        <th>
           Estado
        </th>
        <th>
           Gravedad
        </th>
        <th>
           Medico Solicitante
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.T_GDA_PACIENTE.nomPaciente)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.T_GDA_PACIENTE.numDNI)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.estPaciente)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.gravedad)
        </td>

        <td>
            @Html.DisplayFor(modelItem => item.medSolicitante)
        </td>
       
        <td>
            @Html.ActionLink("Aprobar", "Aprobar", new { id=item.idIngreso  }) |
            @Html.ActionLink("Desaprobar", "Desaprobar", new { id = item.idIngreso }) 
        </td>
    </tr>
}

</table>
